li{
    letter-spacing: 2px;
    color: salmon;
}
h1{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 50px;
    color: midnightblue;
}
a{
    text-decoration: none;
}
a:hover{
    font-weight: bold;
    font-size: 18px;
    color: crimson !important;
}
a:visited{
    color: limegreen;
}