.topic{
    width: 200px;
    background-color: cyan;
}

.para{
    width: 300px;
    background-color: coral;
    padding: 5px 10px;
    /*ถ้ามี2ค่า 5px 10px จะได้ บนล่าง 5px ซ้ายขวา 10px
    ถ้ามี3ค่า 5px 10px 15px จะได้ บน 5px ซ้ายขวา 10px ล่าง 15px*/
    border: 5px solid yellow;
}